<!-- <% layout("/layout/boilerplate") %> 
<style>
    .msg{
        border: 1px solid black;
    }

</style>
<body>
    <h3>All Masseges</h3>
   <div class="msg1">
   <% for(let person of allperson) {%> 
    <div class="msg">
    <%= person.name %> <br/>
    <%= person.email %> <br/>
    <%= person.message %> <br/>
    </div>
    <% } %>
   </div>
</body> -->
